@charset "UTF-8";

body {
    font: normal 16px Arial,sans-serif;
    background-color: #B4D7CF;
}

h1 {
  font: normal 2.5em 'Times New Roman', serif;
  color: #6B4E14;
}

h2 {
    font: normal 2.5em 'Times New Roman', serif;
    color: #9E834D;
}
#main {
    text-align: center;
    background-color: #D19E7B;
    padding: 10px;
    border-radius: 10px;

}

.basico {
     text-shadow: 1px 1px 0px #b88a6c7f;
}
.intermediario {
    text-shadow: 1px 1px 1px #d19e7b9e;
}
.avancado {
    text-shadow: 1px 1px 1px #dea7839c;
}
.destaque {
    background-color: #d19e7b22;
    border-radius: 10px;
}